@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Paleta oficial: https://framework.digital.gob.cl/colors.html */
  --color-gob-primary: #006fb3;
  --color-gob-secondary: #fe6565;
  --color-gob-tertiary: #0a132d;
  --color-gob-accent: #a8b7c7;
  --color-gob-neutral: #eeeeee;
  --color-gob-gray-a: #4a4a4a;
  --color-gob-gray-b: #8a8a8a;
  --color-gob-black: #111111;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
